/* @import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap"); */
@import "/src/styles/reset.css";
@font-face {
  font-family: "Kumbh Sans Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 400, 700;
  src: url(@fontsource-variable/kumbh-sans/files/kumbh-sans-latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400, 700;

  color-scheme: light;
  color: var(--dark-grayish-blue);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsla(0, 0%, 0%, 0.75);
}

.app {
  padding-bottom: 132px;
  position: relative;
}

.app__hr {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  padding: 24px 24px 29px;
  &__logo {
    margin-right: auto;
  }
  &__hamburger {
    margin-right: 16px;
    position: relative;
    top: 1px;
  }
}

.hamburger {
  width: 16px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  z-index: 2;
  &__line {
    width: 100%;
    height: 3px;
    background-color: var(--dark-grayish-blue);
    opacity: 1;
    transition: opacity 0.15s ease-in-out, transform 0.2s ease-in-out;
  }
  &_close > &__line:last-child {
    opacity: 0;
  }
  &_close > &__line:first-child {
    transform: rotate(45deg) translate(4px, 2px);
  }
  &_close > &__line:nth-child(2) {
    transform: rotate(-45deg) translate(2px, 0px);
  }
}

.nav {
  z-index: 1;
  background-color: var(--white);
  position: absolute;
  /* height: 100vh; */
  top: 0;
  bottom: 0;
  left: -100%;
  padding: 92px 130px 0px 25px;
  transition: left 0.45s ease-in-out;
  height: 100%;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
  }
  &_open {
    left: 0;
  }
}

.nav-list {
  &__item {
    list-style: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    & a {
      color: var(--very-dark-blue);
      text-decoration: none;
    }
  }
}

.cart-icon {
  border: none;
  background: none;
  padding: 0;
  position: relative;
  cursor: pointer;
  margin-right: 22px;
  &__amount {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    position: absolute;
    top: -6px;
    right: -8px;
    padding: 1px 8px;
    color: var(--white);
    background-color: var(--orange);
    font-size: 10px;
    font-weight: 700;
  }
  &__svg {
    fill: var(--very-dark-blue);
  }
}

.avatar {
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0;
  background: none;
  cursor: pointer;
  transition: border-color 0.25s ease-in-out;
  &:hover {
    border-color: var(--orange);
  }
}

.cart {
  min-width: 90%;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  top: 15%;
  padding: 24px;
  &__title {
    font-size: 16px;
    font-weight: 700;
  }
  &__hr {
    background-color: var(--grayish-blue);
    height: 1px;
    margin: 24px 0px;
  }
  &__list {
    margin-bottom: 24px;
  }
  &__checkout {
    width: 100%;
    border-radius: 10px;
    background-color: var(--orange);
    color: var(--very-dark-blue);
    text-transform: capitalize;
    font-weight: 700;
    border: none;
    padding: 18px 0;
    text-align: center;
    cursor: pointer;
  }
}

.cart-list {
  padding-left: 0;

  &__item {
    list-style: none;
  }
  &__empty {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--dark-grayish-blue);
    list-style: none;
    text-align: center;
    padding: 20px 0;
  }
}

.cart-item {
  display: flex;
  align-items: center;
  animation: fadeIn 0.5s forwards;
  transition: display 0.3s allow-discrete;
  &__img {
    border-radius: 4px;
    margin-right: 16px;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__title,
  &__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--dark-grayish-blue);
  }
  &__paragraph_total {
    font-weight: 700;
    color: var(--very-dark-blue);
  }
  &__delete {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
  }
}

.stock-item {
  &__body {
    padding: 24px;
  }
  &__manufacturer {
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1.85px;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
  }
  &__title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--very-dark-blue);
  }
  &__paragraph {
    font-size: 15px;
    line-height: 25px;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__price {
    font-size: 28px;
    font-weight: 700;
    color: var(--very-dark-blue);
    margin-right: 16px;
  }
  &__discount {
    display: inline-block;
    background-color: var(--very-dark-blue);
    border-radius: 8px;
    padding: 4px 10px;
    font-size: 16px;
    font-weight: 700;
    color: white;
  }
  &__previousPrice {
    margin-left: auto;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: line-through;
  }
  &__amount {
    margin-top: 24px;
  }
  &__add {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15.5px;
    padding: 20px 0px;
    background-color: var(--orange);
    font-size: 16px;
    font-weight: 700;
    color: var(--very-dark-blue);
    border-radius: 10px;
    border: none;
    box-shadow: var(--orange) 0 20px 50px -20px;
    cursor: pointer;
  }
  &__cart-icon {
    fill: var(--very-dark-blue);
  }
}

.amount-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-grayish-blue);
  padding: 20px 24px;
  border-radius: 10px;
  &__amount {
    font-size: 16px;
    font-weight: 700;
    color: var(--very-dark-blue);
  }
  &__button {
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
  }
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel-main {
  position: relative;
  display: inline-block;
  margin-bottom: 32px;
  &__control {
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    padding: 14.29px 17.14px;
    cursor: pointer;
    &_right {
      right: 0;
      bottom: 50%;
      transform: translate(-15px, 50%);
      z-index: 1;
    }
    &_left {
      left: 0;
      top: 50%;
      transform: translate(15px, -50%);
      z-index: 1;
    }
  }
  &__display {
    height: 100%;
  }
  &__slides {
    height: 100%;

    display: flex;
    position: relative;
    transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
    & img {
      width: 100%;
      height: 100%;
      aspect-ratio: 375/300;
    }
  }
  &__img {
    width: 375px;
    height: 300px;
    padding: 0;
    border: none;
    background: none;
    overflow: hidden;
  }
}

.thumbnails {
  display: none;
}

dialog {
  transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
  animation: fadeOut 0.5s forwards;
  &[open] {
    animation: fadeIn 0.5s forwards;
  }
  &:not[open] {
    opacity: 0;
  }
}

@media screen and (min-width: 1100px) {
  .gallery {
    /* display: block; */
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 auto;
    border: none;
    background-color: transparent;
    padding: 0 100px;
    &::backdrop {
      background-color: var(--black);
    }
    &__control {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 24px;
    }
    &__close {
      height: 20px;
      width: 20px;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      svg {
        fill: var(--white);
        transition: fill 0.3s ease-in-out;
        &:hover {
          fill: var(--orange);
        }
      }
    }
    &__main-img {
      width: 550px;
      height: 550px;
      border-radius: 15px;
      overflow: hidden;
    }
    & .thumbnails {
      justify-content: center;
    }
    & .carousel-main__control {
      display: block;
      &_left {
        left: -40px;
      }
      &_right {
        right: -40px;
      }
    }
  }
  .app {
    max-width: 1100px;
    margin: 0 auto;
    &__hr {
      display: block;
      height: 1px;
      background-color: var(--light-grayish-blue);
      margin-bottom: 90px;
    }
    &__main {
      padding: 0 50px;
    }
  }
  .header {
    padding: 0;
    padding-top: 41px;
    align-items: flex-start;
    position: relative;
    &__logo {
      margin-right: 56.5px;
    }
    &__nav {
      margin-right: auto;
    }
    &__hamburger {
      display: none;
    }
    &__cart-icon {
      top: 5px;
      margin-right: 46px;
    }
    &__avatar {
      height: 50px;
      width: 50px;
      position: relative;
      top: -10px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &__cart {
      margin: 0;
    }
  }
  .cart {
    min-width: auto;
    width: 360px;
    top: 15%;
    left: calc((50% - 22rem) + 550px + 4.5rem);
    position: sticky;
    box-shadow: var(--black) 0px 0px 2px 0px;
    &::backdrop {
      background: none;
      position: static;
    }
    &_desktop {
      position: absolute;
      top: 90px;
    }
  }

  .gallery {
    &::backdrop {
      animation: backdropFadeOut 0.5s forwards;
    }
    &[open] {
      &::backdrop {
        animation: backdropFadeIn 0.5s forwards;
      }
    }
  }

  .nav {
    position: static;
    background: none;
    height: auto;
    padding: 0;
    transition: none;
  }
  .nav-list {
    flex-direction: row;
    /* gap: 32px; */
    &__item {
      display: inline-block;
      text-align: center;
      width: 77px;
      font-size: 15px;
      line-height: 26px;
      font-weight: 400;
      padding-bottom: 45px;
      border-bottom: 4px solid transparent;
      transition: border-color 0.25s ease-in;
      &:hover {
        border-color: var(--orange);
      }
    }
  }

  .stock-item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "carousel body" "thumbnails body";
    column-gap: 125px;
    &__carousel {
      grid-area: carousel;
    }
    &__thumbnails {
      display: block;
      grid-area: thumbnails;
    }
    &__body {
      grid-area: body;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &__info {
      flex-wrap: wrap;
    }
    &__previousPrice {
      width: 100%;
      margin-top: 10px;
    }
    &__controls {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 16px;
    }
    &__amount {
      flex-basis: 157px;
      width: 157px;
    }
    &__add {
      flex-shrink: 10;
      box-shadow: none;
      transition: background-color 0.25s ease-in-out;
      &:hover {
        background-color: var(--pale-orange);
      }
    }
    &__manufacturer {
      font-size: 13px;
      letter-spacing: 2px;
      margin-bottom: 24px;
    }
    &__title {
      font-size: 44px;
      line-height: 48px;
      margin-bottom: 32px;
    }
    &__paragraph {
      font-size: 16px;
      line-height: 26px;
    }
    &__info {
      margin-top: 24px;
    }
    &__controls {
      margin-top: 32px;
    }
  }

  .amount-controller {
    padding: 12px 18px;
  }

  .carousel-main {
    &__img {
      width: 445px;
      height: 445px;
      background: none;
      border-radius: 15px;
      overflow: hidden;
      cursor: pointer;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &__control {
      display: none;
    }
  }

  .thumbnails {
    display: flex;
    padding-left: 0;
    gap: 31px;
    & li {
      list-style: none;
    }

    &__item {
      width: 88px;
      height: 88px;
      border: 2px solid transparent;
      border-radius: 10px;
      padding: 0;
      background: none;
      cursor: pointer;
      transition: filter 0.2s ease-in-out, border-color 0.2s ease-in-out;
      overflow: hidden;
      &:hover {
        filter: opacity(60%);
      }
      &_selected {
        border-color: var(--orange);
      }
    }
  }
}

.gallery .carousel-main__display {
  overflow: hidden;
  border-radius: 15px;
}
.gallery .carousel-main__slides {
  width: 550px;
  height: 550px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes backdropFadeIn {
  from {
    background: hsl(0 0% 0% / 0%);
  }
  to {
    background: hsl(0 0% 0% / 75%);
  }
}
@keyframes backdropFadeOut {
  from {
    background: hsl(0 0% 0% / 75%);
  }
  to {
    background: hsl(0 0% 0% / 0%);
  }
}

.pulse {
  animation: pulse 0.5s forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
